$cor-texto: rgb(225, 15, 162);
$cor-h1: rgb(33, 225, 15);
$cor-background: rgb(70, 13, 53);

body {
    color: $cor-texto;

    // body {}
    // body h1{}
    // body h1:hover{}
    h1 {
        color: $cor-h1;

        &:hover {
            background-color: $cor-background;
        }
    }
}